<div class="timer-area">
  <div class="timer-label">
    {{timeLeft | number: '1.1-1'}}
  </div>
</div>
<div class="control-buttons" *ngIf="controls">
  <button mat-icon-button (click)="play()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button (click)="stop()">
    <mat-icon>stop</mat-icon>
  </button>
</div>
<div class="meta-buttons">
  <button mat-icon-button color="primary" (click)="reset(FULL_TIME)">
    {{FULL_TIME}}
  </button>
  <button mat-icon-button color="primary" (click)="reset(PART_TIME)">
    {{PART_TIME}}
  </button>
  <button mat-icon-button color="primary" (click)="clear()">
    0
  </button>
</div>
