@use '../../styles';

:host {
  @include styles.my-card-mixin;
  flex-direction: column;
  display: flex;
  color: rgb(62, 62, 62);
  align-items: center;
}

.meta-buttons > button {
  margin-left: 5px;
}

.timer-area {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta-buttons, .control-buttons {
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
}

.timer-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.timer-label {
  font-size: 64px;
  margin: auto;
}
