@use '../../styles';

:host {
  @include styles.my-card-mixin;
  @include styles.clr-jeopardy-mixin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
}

img, video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.question-inner {
  padding: 200px;
}
