<ng-container *ngIf="question.state === 'fresh'">
  <div *ngIf="isCategory" class="header-text">
    {{question.category | uppercase}}
  </div>
  <span *ngIf="!isCategory">
    ${{question.value}}
  </span>
</ng-container>
<div *ngIf="question.state === 'displayed'" class="question">
  <div class="question-inner" *ngIf="question.type == 'text'">
    {{question.question | uppercase}}
  </div>
  <ng-container *ngIf="question.type == 'picture'">
    <img [src]="question.question">
  </ng-container>
  <ng-container *ngIf="question.type == 'video'">
    <div>
      <video controls>
        <source [src]="question.question">
      </video>
    </div>
  </ng-container>
</div>
<div *ngIf="question.state === 'finished'">
  <mat-icon class="clickable" (click)="showQuestion($event)">visibility</mat-icon>
</div>
