@use '../styles';

.initial-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.initial-screen-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board-container {
  position: relative;
  flex-grow: 1;
}

.control-panel {
  align-items: stretch;
  background: rgb(240, 240, 240);
  display: flex;
  flex-grow: 0;
  height: styles.$control-height;
}

.control-panel > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.control-panel > jep-scoreboard {
  flex-grow: 1;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.action-button {
  margin: styles.$spacing;
  height: calc(#{styles.$control-height} - #{styles.$spacing} - #{styles.$spacing});
  width: calc(#{styles.$control-height} - #{styles.$spacing} - #{styles.$spacing});
}

mat-icon.action-icon {
  font-size: 64px !important;
  width: 64px !important;
  height: 64px !important;
}

.round-change-button {
  font-size: 32px;
  width: styles.$control-height;
}

.round-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

