<div class="initial-screen" *ngIf="gameState === 'not-started'" >
  <div class="initial-screen-inner">
    <img src="/assets/trebek.png">
    <button mat-raised-button (click)="startRoundOne()">
      Start
    </button>
    <button mat-raised-button (click)="soundsService.right()">
      Test Sound
    </button>
  </div>
</div>

<!-- <div *ngIf="gameState === 'categories-1'" (click)="nextPresentedCategory()" class="present-category">
  {{roundOne.categories[categoryPresentationIndex].title | uppercase}}
</div>
 -->
<div class="top-container" *ngIf="gameState !== 'not-started'">

  <div class="board-container">

    <jep-board *ngIf="gameState === 'round-1'"
      [round]="roundOne"
      (started)="onStarted($event)">
    </jep-board>

    <jep-board *ngIf="gameState === 'round-2'"
      [round]="roundTwo"
      (started)="onStarted($event)">
    </jep-board>

    <jep-final *ngIf="gameState === 'final'"
      [category]="finalCategory"
      [question]="finalQuestion">
    </jep-final>

  </div>

  <div class="control-panel">
    <jep-scoreboard
      [players]="players"
      [playerAnswered]="playerAnswered"
      [currentPlayer]="turnInd"
      [currentAnswerer]="passInd"
      [nextPass]="nextPass">
    </jep-scoreboard>

    <jep-stopwatch #stopwatch [controls]="false"></jep-stopwatch>

    <div class="action-buttons">
      <button
        class="action-button"
        mat-fab
        color="accent"
        (click)="correct()"
        [disabled]="!currentQuestion">
        <mat-icon class="action-icon">done</mat-icon>
      </button>
      <button
        class="action-button"
        mat-fab
        color="warn"
        (click)="pass()"
        [disabled]="!currentQuestion">
        <mat-icon class="action-icon">close</mat-icon>
      </button>
      <button
        class="action-button"
        mat-fab
        (click)="back()"
        [disabled]="lastPass === -1">
        <mat-icon class="action-icon">undo</mat-icon>
      </button>
    </div>

    <div class="my-card round-control">
      <button mat-raised-button
        (click)="startRoundTwo()">
        Double
      </button>
      <button mat-raised-button
        (click)="startFinal()">
        Final
      </button>
    </div>

  </div>
</div>
