<div class="question-row header-row">
  <ng-container *ngFor="let category of round.categories">
    <jep-question
      class="clickable header-text"
      [isCategory]="true"
      [question]="category.example">
    </jep-question>
  </ng-container>
</div>
<div class="question-row"
     *ngFor="let value of round.values; let i = index">
  <ng-container *ngFor="let category of round.categories">
    <jep-question
      class="clickable question-text"
      [isCategory]="false"
      [question]="category.questions[i]"
      (started)="onStarted($event)">
    </jep-question>
  </ng-container>
</div>
