@use '../../styles';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.question-row {
  display: flex;
  flex-basis: 15.38%;
  justify-content: stretch;
  width: 100%;
}

.question-row.header-row {
  flex-basis: 23.07%;
}

jep-question {
  flex-basis: 16.6%;
  // width: 16.6%;
  margin: 3px;
}
